name: Lint, Build & Test with Coverage
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    container: swift:noble
    steps:
      - name: Install curl
        run: apt-get update -yq && apt-get install -y curl
      - name: Checkout
        uses: actions/checkout@v4
      - name: Lint
        run: swift-format lint --recursive --strict --parallel .
      - name: Build
        run: swift build
      - name: Test
        run: swift test --enable-code-coverage
      - name: Generate Coverage Report
        uses: vapor/swift-codecov-action@v0.3
        with:
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
